
.pagination{
    display: flex;
    gap: 1em;
    height: min-content;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
}

.pagination button{
    width: 40px;
    height: 40px;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.pagination button:hover{
    background-color: rgb(226, 7, 7);
}

.active{
    background-color: rgb(226, 7, 7);
    color: #fff;
}

.active__two{
    background-color: rgb(47, 18, 102);
    color: #fff;
}

.close{
    display: none;
}